.App {
  text-align: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myBG{
  height: 100vh;
  background: url("../src/assets/header2.jpg");
  background-size: cover;
}

.text_header{
  height: 50%;
   display: flex;
   justify-content: end;
   align-items: end;
}

.title{
  color: white;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.AboutUs{
    height: 80vh;
    background-color: #594545;
}

.About{
  padding-top: 8rem;
  padding-left:8rem;
}
.Gallery{
  padding-top: 8rem;
  padding-left:8rem;
}

#col1{
  padding-left: 3rem;
  padding-right: 3rem;
}


#col2{
  padding-left: 3rem;
  padding-right: 3rem;
}

.foto_about{
  border-radius: 20px;
}

#txt_about{
  color: white;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.Menu{

  background-color: #594545;

}

.Cmenu{
  margin-top: 8rem;
}

.col_menu{
  padding-left: 2rem;
  padding-right: 2rem;
}

#header_menu{
  color: white;
  text-align: center;
  padding-bottom: 5rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}
.txt-Gallery{
  text-align: center;
  padding-bottom: 5rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px grey;
  letter-spacing: 4px;
}

.Gall{
  background-color: #594545;
  padding-top: 10rem;
  padding-left: 8rem;
}

#row_gallery{
  padding-right: 1rem;
}

.foto_gall{
  height: 250px
}
.col_gall{
  padding-right: 0px;
}

.Menu1{
  padding-bottom: 6rem;
  padding-left: 4rem;
}

.Card{
  box-shadow: 8px 8px 8px black;
}
.CardBody{
  background-color: #9F8772;
}

#tombol_menu{
  background-color: #665A48;
  border: none;
}

.txt_about2{
  color:white;
}